$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/font-icon/fonts" !default;

$iconf-10d: "\e900";
$iconf-10n: "\e901";
$iconf-09d: "\e902";
$iconf-09n: "\e903";
$iconf-13d: "\e904";
$iconf-01n: "\e905";
$iconf-02n: "\e906";
$iconf-50d: "\e907";
$iconf-03d: "\e908";
$iconf-wi-windy: "\e909";
$iconf-11d: "\e90a";
$iconf-wi-fog: "\e90b";
$iconf-01d: "\e90c";
$iconf-02d: "\e90d";
$iconf-04d: "\e90e";
